body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:  #a8ced0;
    color: #353434;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}

h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}

form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="file"],
.form-group select {
    display: inline-block;
    margin: 0 auto;
    padding: 8px;
    width: 300px;
    border: 2px solid #e3dbdf;
    border-radius: 4px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #a3919b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #695c63;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.image-row div {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* New Card Styling */
.image-row div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 190px;
    border: 1px solid #ccc;
}

.image-row img {
    border-radius: 8px;
    max-width: 500px; /* Kích thước tối đa của ảnh */
    height: auto; /* Chiều cao tự động điều chỉnh theo tỉ lệ */
    transition: transform 0.2s;
}

.image-row img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Centering the label */
.image-row h3 {
    font-size: 18px;
    font-weight: normal;
}
